<main>
  <h1>Minhas Unidades Curriculares</h1>
  <section class="baloes">
    <div *ngFor="let alocacaoDiscente of alocacoesDiscente" class="balao">
      <p>{{ alocacaoDiscente.turmaUnidadeCurricular.unidadeCurricular.nomeUnidadeCurricular }}</p>
      <div class="btn-wrapper">
        <button type="button"
                class="btn-conteudo"
                (click)="mostrarConteudo(alocacaoDiscente.turmaUnidadeCurricular.unidadeCurricular)">
          Conteúdo
        </button>
        <button type="button"
                class="btn-notas"
                (click)="mostrarNotasFrequencias(alocacaoDiscente.fichaIndividualAlocacaoDiscente,
                                                 alocacaoDiscente.turmaUnidadeCurricular.unidadeCurricular.nomeUnidadeCurricular,
                                                 alocacaoDiscente.situacaoAlocacaoDiscente.descricao)">

          Notas e Frequência
        </button>
      </div>
    </div>
  </section>
  <app-uc-conteudo *ngIf="exibirConteudo" [unidadeCurricular]="unidadeSelecionada"></app-uc-conteudo>
  <app-aluno-notas-frequencia *ngIf="exibirConteudo"
                              [fichaIndividual]="fichaIndividualSelecionada"
                              [nomeUnidadeCurricular]="nomeUnidadeCurricularSelecionada"
                              [situacaoAlocacao]="situacaoAlocacaoSelecionada">
  </app-aluno-notas-frequencia>
</main>
