<main>
  <h1>Unidade Curricular X</h1>
  <div class="btn-wrapper">
    <button type="button" class="btn-conteudo">Registrar Conteúdo</button>
    <button type="button" class="btn-notas">Registrar Notas</button>
    <button type="button" class="btn-frequencia">Registrar Frequência</button>
    <button type="button" class="btn-relatorios">Acompanhar Relatórios</button>
  </div>

  <div class="baloes">
    <div class="balao">
      <h2>Relatório de Desempenho do Aluno</h2>
      <table class="performance-table">
        <thead>
        <tr>
          <th>Discente</th>
          <th>Nota Final</th>
          <th>Porcentagem de Presença</th>
          <th>Situação do Aluno</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Nome_discente_1</td>
          <td>Nota discente 1</td>
          <td>
            <div class="progress-bar">
              <div class="progress" style="width: 70%;">50%</div>
            </div>
          </td>
          <td><span class="status reprovado">Reprovado</span></td>
        </tr>
        <!-- Repita para outros discentes -->
        </tbody>
        <tbody>
        <tr>
          <td>Nome_discente_2</td>
          <td>Nota discente 2</td>
          <td>
            <div class="progress-bar">
              <div class="progress" style="width: 70%;">70%</div>
            </div>
          </td>
          <td><span class="status aprovado">Aprovado</span></td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td>Nome_discente_3</td>
          <td>Nota discente 3</td>
          <td>
            <div class="progress-bar">
              <div class="progress" style="width: 70%;">70%</div>
            </div>
          </td>
          <td><span class="status aprovado">Aprovado</span></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</main>
