@import "../../../estilo/cores.scss";

// Variáveis SASS para datas e cores de destaque
$data-color: #555;
$highlight-color: #e0f7fa;

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $blue-bg;
  margin-left: 200px;
  padding: 20px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: $secondary-color;
  margin-bottom: 20px;
}

.baloes {
  display: grid;
  gap: 50px;
  justify-content: center;
}

.balao {
  width: 970px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr); // Define 7 colunas iguais
  gap: 10px;
  align-content: stretch; // Garante que as colunas ocupem toda a altura

  .coluna {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #f7f7f7;
    border-radius: 8px;
    font-weight: bold;
    color: $primary-color;
    padding: 10px;
    height: 100%; // Garante que cada coluna ocupe toda a altura da célula

    // Estilo para as datas
    .data {
      font-size: 0.9em;
      color: $data-color;
      margin-bottom: 5px;
    }

    // Estilo para os valores e variáveis
    .valor {
      font-size: 1.1em;
      color: $secondary-color;
    }
  }
}

.btn-wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.btn-conteudo,
.btn-notas {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9em;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

.btn-conteudo {
  background-color: $primary-color;
  color: white;
}

.btn-notas {
  background-color: $secondary-color;
  color: white;
}
