<main>
  <h1>Unidade Curricular X</h1>
  <div class="btn-wrapper">
    <button type="button" class="btn-conteudo">Conteúdo</button>
    <button type="button" class="btn-notas">Notas e Frequência</button>
  </div>
  <section class="baloes">
    <div class="balao">
      <div class="coluna">
        <div class="data">Data: 10/01</div>
        <div class="valor">Unidade 1: 7.5</div>
      </div>
      <div class="coluna">
        <div class="data">Data: 10/02</div>
        <div class="valor">Unidade 2: 8.0</div>
      </div>
      <div class="coluna">
        <div class="data">Data: 10/03</div>
        <div class="valor">Unidade 3: 6.5</div>
      </div>
      <div class="coluna">
        <div class="data">Data: 15/03</div>
        <div class="valor">Reposição: 7.0</div>
      </div>
      <div class="coluna">
        <div class="data">Data: 20/03</div>
        <div class="valor">Nota Final: 7.8</div>
      </div>
      <div class="coluna">
        <div class="data">Faltas</div>
        <div class="valor">5</div>
      </div>
      <div class="coluna">
        <div class="data">Situação</div>
        <div class="valor">Aprovado</div>
      </div>
    </div>
  </section>
</main>
