<main>
  <section class="card-turma">
    <div class="card-turma-titulo">
      <h3>Dados da Turma</h3>
    </div>
    <form class="formulario">
      <div>
        <label for="nome-turma">Unidade Curricular:</label>
        <select name="nome-turma" id="nome-turma" [(ngModel)]="unidadeCurricularSelecionada"
                (change)="verificarSelecoes()">
          <option [ngValue]="null">Selecione a Unidade Curricular</option>
          <option *ngFor="let unidade of unidadesCurriculares" [ngValue]="unidade">
            {{ unidade.nomeUnidadeCurricular }}
          </option>
        </select>
      </div>
      <div>
        <label for="turno">Turno:</label>
        <select name="turno" id="turno" [(ngModel)]="turnoSelecionado" (change)="verificarSelecoes()">
          <option [ngValue]="null">Selecione o Turno</option>
          <option *ngFor="let turno of turnos" [ngValue]="turno">
            {{ turno.descricao }}
          </option>
        </select>
      </div>
      <div>
        <label>Código da Turma:</label>
        <div class="codigo-turma">
          <p>{{ codigoTurma }}</p>
        </div>
      </div>
      <button class="salvar" type="button" (click)="criarTurma()">Salvar</button>
    </form>
  </section>
</main>
