<app-login-layout>
  <form [formGroup]="login" (ngSubmit)="autenticar()">

    <!-- Campo de Email -->
    <mat-form-field appearance="fill">
      <mat-label>Usuário:</mat-label>
      <input matInput formControlName="usuario" placeholder="Seu usuário">
      <mat-error *ngIf="login.get('usuario')?.invalid && login.get('usuario')?.touched">
        <span *ngIf="login.get('usuario')?.hasError('required')">Usuário é obrigatório.</span>
      </mat-error>
    </mat-form-field>

    <!-- Campo de Senha -->
    <mat-form-field appearance="fill">
      <mat-label>Senha:</mat-label>
      <input matInput formControlName="senha" placeholder="Sua senha" type="password">
      <mat-error *ngIf="login.get('senha')?.invalid && login.get('senha')?.touched">
        <span *ngIf="login.get('senha')?.hasError('required')">Senha é obrigatória.</span>
      </mat-error>
    </mat-form-field>

    <!-- Link para recuperação de senha -->
    <div class="forgot-senha">
      <a href="#">Esqueceu a senha?</a>
    </div>

    <!-- Botão de Login -->
    <div class="btn-wrapper">
      <button type="submit" class="btn-entrar">ENTRAR</button>
    </div>
  </form>
</app-login-layout>
