<main>
  <h1 class="baloes">Minhas Turmas</h1>
  <section class="baloes" >
    <div *ngFor="let alocacaoDocente of alocacoesDocente" class="balao">
      <p>{{ alocacaoDocente.turmaUnidadeCurricular.unidadeCurricular.nomeUnidadeCurricular | uppercase }}</p>
      <a>{{ getCursoPorIdTurma(alocacaoDocente.turmaUnidadeCurricular.id)?.nomeCurso }}</a>

      <div class="btn-wrapper">
        <button type="button"
                class="btn-relatorio"
                (click)="mostrarDesempenhoTurma(alocacaoDocente.turmaUnidadeCurricular)">
          Relatório da Turma
        </button>
        <button type="button"
                class="btn-notas"
                (click)="lancarNotasFrequencias(alocacaoDocente.turmaUnidadeCurricular)">
          Registrar Notas e Frequências
        </button>
      </div>
    </div>
  </section>

  <div class="baloes">
    <app-prof-conteudo-layout
      *ngIf="exibirDesempenhoTurma"
      [alocacoesDiscente]="alocacoesDiscentePorTurma"
      [turmaUnidade]="turmaSelecionada">
    </app-prof-conteudo-layout>
    <app-prof-notas-layout
      *ngIf="exibirNotasFrequencia"
      [alocacoesDocente]="alocacoesDocente"
      [alocacoesDiscente]="alocacoesDiscentePorTurma"
      [turmaUnidade]="turmaSelecionada"
      (atualizarPai)="recarregarDadosPai()">
    </app-prof-notas-layout>
  </div>
</main>
