<main>
  <h1 class="baloes">Minhas Turmas</h1>
  <section class="baloes">
    <div *ngFor="let alocacaoDocente of alocacoesDocente" class="balao">
      <p>{{ alocacaoDocente.turmaUnidadeCurricular.unidadeCurricular.nomeUnidadeCurricular | uppercase }}</p>
      <a>{{ getCursoPorIdTurma(alocacaoDocente.turmaUnidadeCurricular.id)?.nomeCurso }}</a>

      <div class="btn-wrapper">
        <button type="button"
                class="btn-relatorio"
                (click)="mostrarConteudo(alocacaoDocente.turmaUnidadeCurricular)">
          Relatório da Turma
        </button>
        <button type="button" class="btn-notas">Registrar Notas e Frequência</button>
      </div>
    </div>
  </section>

  <section class="baloes">
    <app-prof-conteudo-layout
      *ngIf="exibirConteudo"
      [alocacoesDiscente]="alocacoesDiscente"
      [turmaUnidade]="turmaSelecionada">
    </app-prof-conteudo-layout>
  </section>
</main>
