<main>
  <h1>Unidade Curricular X</h1>
  <div class="btn-wrapper">
    <button type="button" class="btn-conteudo">Conteúdo</button>
    <button type="button" class="btn-notas">Notas e Frequência</button>
  </div>
  <section class="baloes">
    <div class="balao">
      <div class="conteudo-coluna">
        <div class="conteudo-item">
          <div class="texto">
            <p class="titulo">Título do Conteúdo 1</p>
            <p class="descricao">Descrição do conteúdo 1</p>
          </div>
          <span class="data">(dia/mês/ano)</span>
        </div>
        <div class="conteudo-item">
          <div class="texto">
            <p class="titulo">Título do Conteúdo 2</p>
            <p class="descricao">Descrição do conteúdo 2</p>
          </div>
          <span class="data">(dia/mês/ano)</span>
        </div>
        <div class="conteudo-item">
          <div class="texto">
            <p class="titulo">Título do Conteúdo 3</p>
            <p class="descricao">Descrição do conteúdo 3</p>
          </div>
          <span class="data">(dia/mês/ano)</span>
        </div>
      </div>
    </div>
  </section>
</main>
