<main>
  <h1>Olá, Gestor!</h1>
  <section class="btn-wrapper">
    <a href="" class="btn-pag-inativa">Gerenciar Alocações</a>
    <a href="./gestor-visualizar-relatorio-aluno" class="btn-pag-ativa">Relatórios de Alocação</a>
  </section>
  <h2>Relatórios de Alocação</h2>
  <section class="btn-wrapper">
    <a href="./gestor-visualizar-relatorio-aluno" class="btn-pag-inativa">Relatórios de Alocação dos Alunos</a>
    <a href="./gestor-visualizar-relatorio-prof" class="btn-pag-ativa">Relatórios de Alocação dos Professores</a>
  </section>
  <section class="card-consultar-relatorio-prof">
    <h3 class="h3-titulo">Relatório de Alocação dos Professores</h3>
    <div class="filtros">
      <select name="docente" id="docente">
        <option value="docente-default">Docente</option>
        <option value="docente1">Docente 1</option>
        <option value="docente2">Docente 2</option>
        <option value="docente3">Docente 3</option>
      </select>
      <select name="codigo" id="codigo">
        <option value="codigo-default">Código</option>
        <option value="codigo1">Código 1</option>
        <option value="codigo2">Código 2</option>
        <option value="codigo3">Código 3</option>
      </select>
      <select name="turma" id="turma">
        <option value="turma-default">Turma</option>
        <option value="turma1">Turma 1</option>
        <option value="turma2">Turma 2</option>
        <option value="turma3">Turma 3</option>
      </select>
      <select name="situacao" id="situacao">
        <option value="situacao-default">Situação</option>
        <option value="situacao1">Situação 1</option>
        <option value="situacao2">Situação 2</option>
        <option value="situacao3">Situação 3</option>
      </select>
    </div>
    <div class="card-consultar-relatorio-prof-titulo">
      <h3>Docente</h3>
      <h3>Código</h3>
      <h3>Turma</h3>
      <h3>Situação</h3>
    </div>
    <div class="card-consultar-relatorio-prof-tabela">
      <div>
        <p>Nome docente 1</p>
        <p>Código docente 1</p>
        <p>Turmas docente 1</p>
        <p>Alocado</p>
      </div>
      <div>
        <p>Nome docente 1</p>
        <p>Código docente 1</p>
        <p>Turmas docente 1</p>
        <p>Alocado</p>
      </div>
      <div>
        <p>Nome docente 1</p>
        <p>Código docente 1</p>
        <p>Turmas docente 1</p>
        <p>Não alocado</p>
      </div>
      <div>
        <p>Nome docente 1</p>
        <p>Código docente 1</p>
        <p>Turmas docente 1</p>
        <p>Não alocado</p>
      </div>
      <div>
        <p>Nome docente 1</p>
        <p>Código docente 1</p>
        <p>Turmas docente 1</p>
        <p>Alocado</p>
      </div>
    </div>
  </section>
</main>
