<main>
  <h1>Olá, Gestor!</h1>
  <section class="btn-wrapper">
    <a href="./gestor-criar-turma" class="btn-pag-inativa">Criar Turmas</a>
    <a href="./gestor-consultar-turma" class="btn-pag-ativa">Consultar Turmas Existentes</a>
  </section>
  <h2>Turmas Existentes</h2>
  <section class="card-consultar-turma">
    <div class="card-consultar-turma-titulo">
      <h3>Componente Curricular</h3>
      <h3>Docente</h3>
      <h3>CH Total</h3>
      <h3>Nº de Alunos</h3>
    </div>
    <div class="card-consultar-turma-tabela">
      <div>
        <p>Código Turma - Turma X</p>
        <p>Nome do Docente</p>
        <p>60h</p>
        <p>50</p>
      </div>
      <div>
        <p>Código Turma - Turma X</p>
        <p>Nome do Docente</p>
        <p>60h</p>
        <p>50</p>
      </div>
      <div>
        <p>Código Turma - Turma X</p>
        <p>Nome do Docente</p>
        <p>60h</p>
        <p>50</p>
      </div>
      <div>
        <p>Código Turma - Turma X</p>
        <p>Nome do Docente</p>
        <p>60h</p>
        <p>50</p>
      </div>
      <div>
        <p>Código Turma - Turma X</p>
        <p>Nome do Docente</p>
        <p>60h</p>
        <p>50</p>
      </div>
    </div>
  </section>
</main>
