<main>
  <app-toolbar class="toolbar-overlay"></app-toolbar>

  <p class="text">Olá, Gestor!</p>


  <div class="container-buttons">
    <button class="primary-button">Gerenciar Alocações</button>
    <button class="secondary-button ">Relatórios de Aloções</button>

  </div>
  <p class="title">
    Gerenciar Alocações
  </p>

  <div class="container-card">
    <div class="container-radio">
      <span class="title-card">Quem você deseja alocar?</span>
      <div class="container-radios">
        <div class="radio">
          <input type="radio">
          <label>Aluno</label>
        </div>
        <div class="radio">
          <input type="radio">
          <label>Professor</label>
        </div>
      </div>
    </div>
    <div class="container-info">
      <div class="container-input">
        <span class="title-card">Codigo do aluno:</span>
        <input type="text" class="input-text">
      </div>
      <div class="container-input">
        <span class="title-card">Nome do aluno</span>
        <input type="text" class="input-text">
      </div>
      <div class="container-select">
        <span class="title-card">Curso do aluno</span>
        <select class="input-text">
          <option value="">Selecionar o curso</option>
        </select>
      </div>
      <div class="container-select">
        <span class="title-card">Turma</span>
        <select class="input-text">
          <option value="">Selecionar a turma</option>
        </select>
      </div>
      <div class="container-buttonSend">
        <button class="buttonSend">
          Enviar
        </button>
      </div>
    </div>
  </div>

</main>
