<main>
  <h1>Gerenciamento</h1>
  <section class="baloes">
    <div class="balao primeiro-balao">
      <p>Gerenciar turmas</p>
      <a>Crie, edite ou exclua turmas do sistema</a>
      <div class="btn-wrapper">
        <button type="button" class="btn-criar">Criar turmas</button>
      </div>
    </div>

    <div class="balao segundo-balao">
      <p>Alocar Alunos ou Professores</p>
      <a>Aloque alunos ou professores em turmas específicas</a>
      <div class="btn-wrapper">
        <button type="button" class="btn-alocar">Alocar aluno ou professor</button>
      </div>
    </div>

    </section>
</main>
