<main>
  <h1>Unidade Curricular X</h1>
  <div class="btn-wrapper">
    <button type="button" class="btn-conteudo">Registrar Conteúdo</button>
    <button type="button" class="btn-notas">Registrar Notas</button>
    <button type="button" class="btn-frequencia">Registrar Frequência</button>
    <button type="button" class="btn-relatorios">Acompanhar Relatórios</button>
  </div>

  <section class="baloes">
    <div class="balao">
      <table>
        <tr>
          <th>Discente</th>
          <th>Unidade 1</th>
          <th>Unidade 2</th>
          <th>Unidade 3</th>
          <th>Reposição</th>
          <th>Nota Final</th>
          <th>Faltas</th>
          <th>Situação</th>
        </tr>
        <tr>
          <td>Nome discente 1</td>
          <td><input type="text" value="70"></td>
          <td><input type="text" value="70"></td>
          <td><input type="text" value="70"></td>
          <td><input type="text" value="80"></td>
          <td>70</td>
          <td>10</td>
          <td>Aprovado</td>
        </tr>
        <tr>
          <td>Nome discente 2</td>
          <td><input type="text" value="70"></td>
          <td><input type="text" value="70"></td>
          <td><input type="text" value="70"></td>
          <td><input type="text" value="80"></td>
          <td>80</td>
          <td>12</td>
          <td>Aprovado</td>
        </tr>
        <tr>
          <td>Nome discente 3</td>
          <td><input type="text" value="70"></td>
          <td><input type="text" value="70"></td>
          <td><input type="text" value="70"></td>
          <td><input type="text" value="80"></td>
          <td>65</td>
          <td>15</td>
          <td>Reprovado</td>
        </tr>
      </table>
    </div>
  </section>
  <!-- Botões adicionais abaixo da tabela -->
  <div class="action-buttons">
    <button type="button" class="btn-gerar-relatorios">Gerar Relatórios</button>
    <button type="button" class="btn-salvar">Salvar</button>
  </div>
</main>
