@import "../../../estilo/cores.scss";
.toolbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
}

.user-options-overlay {
  position: fixed;
  top: 50px; /* Ajuste a posição conforme necessário */
  right: 25px;
  z-index: 15; /* Deve estar acima da toolbar */
  background-color: $blue-bg; /* Ajuste para corresponder ao estilo desejado */
  padding: 10px;
}

main {
  min-height: 100vh; // Altura total da tela, já que a toolbar é fixa
  padding: 20px;
  z-index: 1; /* Deve estar abaixo dos overlays */
  background-color: $blue-bg;

}
.text{
  margin-top: 80px;
  padding-left: 200px;
  font-size: 35px;
  font-weight: bolder;
  color: $secondary-color;

}
.baloes{
 display: flex;
}

