<div class="avatar-container">
    <button class="avatar icon" mat-button>
      <img src="user-avatar.svg" alt="avatar icon" />
    </button>
    <div class="user-details">
      <div class="label-item">
        <strong>Nome:</strong> {{ nomePessoa }}
      </div>
      <div *ngIf="isDiscente">
        <div class="label-item">
          <strong>Curso:</strong> {{ nomeCurso }}
        </div>
        <div class="label-item">
          <strong>Período Atual:</strong> {{ periodoAtual }}º Período
        </div>
      </div>
    </div>
  </div>

