<main>

  <section class="primeiro-balao">
    <img class = "relogio" src="relogio.svg" alt=""/>
    <p>Horários de Hoje</p>
    <div class="horarios">
      <a>Hora - Aula X</a>
      <a>Hora - Aula Y</a>
      <a>Hora - Aula Z</a>
    </div>
  </section>

<!--
  <section class="segundo-balao">
    <img class = "calendario" src="calendar.svg" alt=""/>
    <p>Datas Importantes</p>
    <div class="datas">
      <a>Data - Prova X</a>
      <a>Data - Prova Y</a>
      <a>Data - Prova Z</a>
    </div>
  </section>

-->

</main>
