<main>
    <section class="balao primeiro-balao">
        <img class="icone horario" src="relogio.svg" alt=""/>
        <div class="conteudo">
            <p>Horários de Hoje</p>
            <div class="lista horarios">
                <a>Hora - Aula X</a>
                <a>Hora - Aula Y</a>
                <a>Hora - Aula Z</a>
            </div>
        </div>
    </section>

    <section class="balao segundo-balao">
        <img class="icone calendario" src="calendario.svg" alt=""/>
        <div class="conteudo">
            <p>Datas Importantes</p>
            <div class="lista datas">
                <a>Data - Prova X</a>
                <a>Data - Prova Y</a>
                <a>Data - Prova Z</a>
            </div>
        </div>
    </section>
</main>
