@import "../../../estilo/cores.scss";
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $blue-bg;

  .primeiro-balao{
    margin-left: 200px;
    margin-bottom: 600px;
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 0.1;
    background-color: white;
    padding: 60px;

    border-radius: 20px;

    .horarios{
      gap: 15px;
      display: flex;
      flex-direction: column;
    }

  }
  p{
    margin-top: -27px;
    margin-left: 50px;
    font-weight: bold;
    color: $secondary-color;
  }

  .segundo-balao{
    margin-left: 200px;
    margin-bottom: 600px;
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 0.1;
    background-color: white;
    padding: 60px;

    border-radius: 20px;

    .datas{
      gap: 15px;
      display: flex;
      flex-direction: column;
    }


  }
  p{
    margin-top: -27px;
    margin-left: 50px;
    font-weight: bold;
    color: $secondary-color;
  }

}
