<main>
<form class = "primeiro-balao">
  <form class ="conteudo-primeiro-balao">
  <img class = "horario" src="relogio.svg" alt=""/>
  <p>Horários de Hoje</p>
    <div class = "horarios">
     <a>Hora - Aula X</a>
      <a>Hora - Aula Y</a>
      <a>Hora - Aula Z</a>
    </div>
  </form>
</form>
<form class = "segundo-balao">
  <form class ="conteudo-segundo-balao">
    <img class = "calendario" src="calendario.svg" alt=""/>
    <p>Datas Importantes</p>
    <div class = "datas">
      <a>Data - Prova X</a>
      <a>Data - Prova Y</a>
      <a>Data - Prova Z</a>
    </div>
</form>
</form>
</main>
