main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px; // Espaço entre os balões
  padding-top: 200px; // Altura do topo
  padding-right: 250px;

  .balao {
    height: 200px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;




    .icone {
      width: 30px; // Tamanho padrão para os ícones
      margin-top: -100px;
    }

    .conteudo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-weight: bold;
        margin: 0;
      }

      .lista {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
  .primeiro-balao{
    margin-bottom: 500px;
  }
  .segundo-balao{
    margin-bottom: 500px;
  }
}
